name: build

on:
  push:
  pull_request:

jobs:
  build-linux:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc, clang]
    steps:
    - uses: actions/checkout@v4
    - name: dependencies
      run: |
           sudo apt install gcc-10 g++-10 libgcc-10-dev libunwind8-dev
           pip3 install colorama
    - name: libdwarf
      run: |
           cd ..
           mkdir zstd
           cd zstd
           git init
           git remote add origin https://github.com/facebook/zstd.git
           git fetch --depth 1 origin 63779c798237346c2b245c546c40b72a5a5913fe # 1.5.5
           git checkout FETCH_HEAD
           make -j
           sudo make install
           cd ..
           mkdir libdwarf
           cd libdwarf
           git init
           git remote add origin https://github.com/jeremy-rifkin/libdwarf-code.git
           git fetch --depth 1 origin 308b55331b564d4fdbe3bc6856712270e5b2395b
           git checkout FETCH_HEAD
           mkdir build
           cd build
           cmake .. -DPIC_ALWAYS=TRUE -DBUILD_DWARFDUMP=FALSE
           make -j
           sudo make install
           cd ../../cpptrace
    - name: build
      run: |
           python3 ci/build-in-all-configs.py --${{matrix.compiler}}
  build-macos:
    runs-on: macos-13
    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc, clang]
    steps:
    - uses: actions/checkout@v4
    - name: dependencies
      run: |
           pip3 install colorama
    - name: libdwarf
      run: |
           cd ..
           mkdir zstd
           cd zstd
           git init
           git remote add origin https://github.com/facebook/zstd.git
           git fetch --depth 1 origin 63779c798237346c2b245c546c40b72a5a5913fe # 1.5.5
           git checkout FETCH_HEAD
           make -j
           sudo make install
           cd ..
           mkdir libdwarf
           cd libdwarf
           git init
           git remote add origin https://github.com/jeremy-rifkin/libdwarf-code.git
           git fetch --depth 1 origin 308b55331b564d4fdbe3bc6856712270e5b2395b
           git checkout FETCH_HEAD
           mkdir build
           cd build
           cmake .. -DPIC_ALWAYS=TRUE -DBUILD_DWARFDUMP=FALSE
           make -j
           sudo make install
           cd ../../cpptrace
    - name: build
      run: |
           python3 ci/build-in-all-configs.py --${{matrix.compiler}}
  build-windows:
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        compiler: [msvc, clang, gcc]
    steps:
    - uses: actions/checkout@v4
    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.10.0
    - name: dependencies
      run: |
           pip3 install colorama
    - name: libdwarf
      run: |
           if("${{matrix.compiler}}" -eq "gcc") {
            cd ..
            mkdir zstd
            cd zstd
            git init
            git remote add origin https://github.com/facebook/zstd.git
            git fetch --depth 1 origin 63779c798237346c2b245c546c40b72a5a5913fe # 1.5.5
            git checkout FETCH_HEAD
            cd build/cmake
            mkdir build
            cd build
            cmake .. -DZSTD_BUILD_SHARED=On -DZSTD_BUILD_SHARED=Off -DZSTD_LEGACY_SUPPORT=Off -DZSTD_BUILD_PROGRAMS=Off -DZSTD_BUILD_CONTRIB=Off -DZSTD_BUILD_TESTS=Off -G"Unix Makefiles"
            make -j
            make install
            cd ../../../..
            mkdir libdwarf
            cd libdwarf
            git init
            git remote add origin https://github.com/jeremy-rifkin/libdwarf-code.git
            git fetch --depth 1 origin 308b55331b564d4fdbe3bc6856712270e5b2395b
            git checkout FETCH_HEAD
            mkdir build
            cd build
            cmake .. -DPIC_ALWAYS=TRUE -DBUILD_DWARFDUMP=FALSE -G"Unix Makefiles"
            make -j
            make install
            cd ../../cpptrace
           }
    - name: build
      run: |
           python3 ci/build-in-all-configs.py --${{matrix.compiler}}
